<p>Hello {{name}},</p>
<p>Thank you for registering with us. Please confirm your email address by clicking the button below:</p>
<p><a href="{{link}}" class="button">Confirm Email</a></p>
<p>If you did not create an account, no further action is required.</p>
<p>Thank you,</p>
<p><b>Shortly</b></p>
