<p>Hello {{name}},</p>
<p>We received a request to reset your password. Click the button below to reset your password:</p>
<p><a href="{{link}}" class="button">Reset Password</a></p>
<p>If you didn't request a password reset, please ignore this email or contact support if you have questions.</p>
<p>Thank you,</p>
<p><b>Shortly</b></p>

